.home__container {
    min-height: 100vh;
    height: auto;
}

section {
    height: 90vh;
}

.brand-name {
    display: flex;
    height: 400px;
    width: clamp(320px, 65vw, 1500px);
    margin: 5em 5%;
    z-index: 1;
}

.home1, .home2, .home3 {
    display: flex;
    justify-items: center;
    align-content: center;
    min-width: 350px;
    
    @media(max-width: 650px) {
        height: 90vh;
    }
}

.home1__footer {
    width: 100%;
    min-width: 350px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    font-size: calc($nav-fs + 1px);

    @media(max-width: 650px) {
        font-size: calc($nav-fs + -2px);
    }

    .footer__contact-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 20px;
    }

    .footer__reveal-contact-button {
        background-color: transparent;
        border: none;
        font-size: 38px;
        cursor: pointer;
        padding: 5px;

        @media(max-width: 400px) {
            font-size: 30px;
        }
    }

    .footer__contact-button {
        margin: 0 25px 0 0;
        
        //animated
        display: none;
    }

    a {
        text-decoration: none;
        color: $main-color;

        &:hover {
            color: #535353;
        }
    }
}

.home2, .home3 {
    margin: 2% 6%;
    display: flex;
    align-items: center;

    .info-container {
        width: clamp(600px, 40vw, 700px);

        @media(max-width: 850px) {
            width: clamp(300px, 70vw, 600px);
        }
    }

    .paragraph-arrow {
        margin: 0 4% 0 0;
        display: inline-block;
        width: fit-content;
    }

    .home2__info {
        font-size: $home-body-fs;

        @media(max-width: 850px) {
            font-size: calc($home-body-fs - 5px);
            width: 100%;
        }

        @media(max-width: 550px) {
            display: none;
        }
    }

    .home2__info--mobile {
        display: none;

        @media(max-width: 550px) {
            display: block;
            font-size: calc($home-body-fs - 4px);
        }
    }
}

.home3 {
    margin-bottom: calc(10em - 10vh);
    display: flex;
    align-items: flex-start;
    margin-top: 8%;

    @media(max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-bottom: 18em;
    }

    @media(max-width: 650px) {
        margin-bottom: 8em;
    }

    .home3__left, .home3__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width: 900px) {
            width: 100%;
            margin: 0
        }

        .home3__info {
            font-size: calc($home-body-fs - 2px);
            width: 75%;
            margin: 8% 0 8% 0;

            @media(max-width: 850px) {
            font-size: calc($home-body-fs - 6px);
            }

            @media(max-width: 650px) {
                font-size: calc($home-body-fs - 6px);
                width: 90%;
            }

            @media(max-width: 550px) {
                display: none
            }
        }

        .home3__info--mobile {
            display: none;
    
            @media(max-width: 550px) {
                display: block;
                font-size: calc($home-body-fs - 6px);
            }
        }
        
        .particle-container {
            height: 400px;

            @media(max-width: 650px) {
                height: 350px
            }
        }

        .view-projects-button {
            border: 2px solid $main-color;
            width: 320px;
            padding: 1rem 3rem;
            margin: 0 auto;
            font-size: calc($home-body-fs - 4px);
            background-color: rgba(255, 255, 255, 0.507);
            transition: 0.2s;
            margin-top: 8vh;

            @media(min-height: 800px) {
                margin-top: 20vh;
            }

            @media(min-height: 800px) and (max-width: 850px) {
                margin-top: 2em;
            }

            &:hover {
                cursor: pointer;
                background: $main-color;
                color: white;
            }
        }
    }

    .home3__right {
        @media(max-width: 900px) {
            width: 100%;
            margin-top: 8em;
        }

        @media(max-width: 650px) {
            margin-top: 5em;
        }
    }
}

.three-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}