.policy__page-container {
    min-height: 100vh;
    height: auto;
    margin-top: 20vh;
    margin-left: 15%;
    margin-bottom: 6em;

    .policy__page-title {
        font-size: 4rem;
    }

    .policy__page-text {
        margin-left: 10%;
        font-size: 1.2rem;
        margin-top: 4em;
        width: 60%;
    }
}