.project__container {
    display: flex;

    @media(max-width: 600px) {
        display: flex;
        flex-direction: column;
    }

    .project__back-arrow {
        font-size: 2rem;
        width: fit-content;

        &:hover {
            cursor: pointer;
        }
    }
    
    .info__container {
        width: 50%;
        height: 100vh;
        margin: 8em 4em 0 4em;
        overflow: hidden;
        position: sticky;
        top: 8em;
        height: fit-content;

        @media(width: 600px) {
            width: 100%
        }

        .project__header {
            margin: 0 0 3em 0;
        }

        .project__description {
            margin: 0 0 5em 0;
        }

        .info__links {
            display: flex;
            justify-content: space-between;
        }

        a {
            text-decoration: none;
            color: $main-color;

            &:hover {
                text-decoration: underline;
            }
        } 
    }
    
    .image__container {
        width: 500px;
        margin: 8em 5em 0 5em;
        // overflow: auto;

        .image-wrap__desktop {

            .desktop-image {
                width: 500px;
                margin: 0 0 80px 0
            }
        }

        .image-wrap__mobile {
            display: flex;
            justify-content: space-between;

            .mobile-image {
              width: 210px;
              margin: 0 0 80px 0;
            }
        }
    }
}