.project__container {
    display: flex;

    .project__back-arrow {
        font-size: 2rem;
        width: fit-content;

        &:hover {
            cursor: pointer;
        }
    }
    
    .info__container {
        width: 500px;
        margin: 8em 5em 0 5em;

        .project__header {
            margin: 0 0 3em 0;
        }

        .project__description {
            margin: 0 0 5em 0;
        }

        .info__links {
            display: flex;
            justify-content: space-between;
        }

    }
    
    .image__container {
        width: 500px;
        margin: 8em 5em 0 5em;
        // overflow-y: scroll;

        .image-wrap__desktop {
            margin: 0 0 50px 0;

            .desktop-image {
                width: 500px
            }
        }

        .image-wrap__mobile {
            display: flex;
            justify-content: space-between;
            margin: 0 0 50px 0;

            .mobile-image {
              width: 210px
            }
        }
    }
}