.services--container {
    width: 100%;
    margin: 0 auto;
    margin-top: 7em;

    .services--header-container {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .services--header-title {
            font-weight: 400;
            font-size: 1.4rem;
            width: fit-content;
            letter-spacing: 1px;
            margin-right: 2rem;
        }

        .services--contact-title {
            text-align: right;
            width: fit-content;
        }

        @media (min-width: 850px) {
            .services--header-title {
                font-size: 2rem;
                margin-right: 2rem;
                width: fit-content;
                margin-left: 10%;
            } 
            
            .services--contact-title {
                margin-left: 2rem;
                margin-right: 10%;
            }
        }
    }

    @media(min-width: 850px) {
        .services--header-container {
            width: 100%;
        }
        
    }

    @media(min-width: 850px) {
        .services--contact-header{
            justify-content: flex-end;
            position: relative;

        }
    }

    .services--content-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 0em;

        .services--content {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 5vh;

            .content__title-background {
                -webkit-text-stroke: 1px $main-color;
                color: transparent;
                font-size: 3rem;
                position: absolute;
                right: 3vw;
                top: calc(12% + 8rem);
                opacity: 0.4;
            }

            .content__title-background-2 {
                top: calc(12% + 4rem)
            } 
            .content__title-background-3 {
                top: calc(12% + 8rem)
            } 

            .services--asset-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: fit-content;

                .services--asset {
                    width: 30vw;
                    height: 30vw;
                    overflow: visible;
                    margin-left: 10%;
                } 
            }

            .services--asset-title {
                margin: 0 auto;
                font-size: 1.2rem;
                margin-top: 0.5rem;
                font-family: $main-font;
                margin-bottom: 2rem;
                text-align: center;
                letter-spacing: 1px;
                font-weight: 100;
            }

            .services--content-text {
                width: 100%;
                font-size: 1rem;
                text-align: center;
                margin-top: 1rem;
                font-family: $main-font;
            }
        }
    }

    @media (min-width: 850px) {
        .services--content-container {
            width: 70%;
            margin-top: 2em;
            overflow: visible;
            margin-bottom: 0;

            .services--content {
                flex-direction: row;
                padding-bottom: 7em;
                min-height: 65vh;
                overflow: visible;
                align-items: center;
                // border-bottom: 1px solid $main-color;

                .content__text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }


                .services--asset-container {
                    display: flex;
                    align-items: flex-start;
                    overflow: visible;
                    position: relative;
                    width: 25%;

                    .services--asset {
                        width: 20vw;
                        height: 20vw;
                        overflow: visible;
                        margin: 0;
                        margin-top: 1em;
                    } 
                }

                .services--asset-title {
                    font-size: calc($services-subheading-fs - 0.08rem);
                    text-align: left;
                    margin-top: 1em;
                    font-family: $main-font;
                    font-weight: 100;
                    text-align: left;
                    // border-left: 1px solid $main-color;
                    padding-left: 1em;
                    margin: 0;
                    width: max-content;
                }

                .services--asset-2 {
                    padding-right: -5%;
                }

                .services--asset-container-2 {
                    position: absolute;
                    right: 7.5%;
                    z-index: -1;
                    align-items: center;
                }

                .services--content-text {
                    width: 90%;
                    margin-left: 20%;
                    text-align: left;
                    font-size: 1.1rem;
                    line-height: 1.4;
                    float: right;
                    margin-top: 2em;
                }

                .content__text-focus {
                    font-style: italic;
                    font-size: 1.7rem;

                    span {
                        font-style: normal;
                    }
                }

                .content__text-2 {
                    margin-right: 35vw;
                    width: 55vw;
                    text-align: left;
                }

                .asset__title-2 {
                    text-align: center;
                    border-left: none;
                    // border-right: 1px solid $main-color;
                    padding-left: 0;
                    padding-right: 1em;
                    margin: 0;
                }
            }            
        }   
    }

    //Form, Section

    .services__form-container {
        height: 30em;
        margin: 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;

        @media(max-width: 850px) {
            height: 25em;
        }
    }

    //Contact Section

    .services__contact-container {
        margin: 0 auto;
        margin-bottom: 0;;
        position: relative;
        width: 80%;
        min-height: 60vh;

        .contact__list {
            margin-top: 4em;
            width: 80%;
            margin-left: 5%;

            .contact__list-item {
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .contact__name {
                    font-size: 1.1rem;
                    padding: 2rem 0;
                    margin-right: 2rem;
                    transition: 0.3s;
                } 

                .contact__links {
                    display: flex;
                    align-items: center;
                    transition: 0.4s;
                    position: relative;
                    z-index: 1;

                    & a:last-child {
                        margin-left: 2rem;
                    }
                }

                .contact__link {
                    padding: 0.2rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;

                    &::after {
                        content: '';
                        width: 0;
                        border-radius: 20px;
                        background: $main-color;
                        height: 3px;
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        transition: 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                    
                    svg {
                        height: 2rem;
                        transition: 0.8s;
                        &:hover {
                            cursor: pointer; 
                        }                        
                    }

                    .contact__image-blur {
                        height: 2rem;
                        transition: 0.8s;
                        transition-delay: 0.5s;
                        filter: blur(0.8px);
                        position: absolute;
    
                        &:hover {
                            cursor: pointer;
                            filter: blur(0);
                        }
                    }

                    .contact__image {
                        height: 2rem;
                        transition: 0.9s;
                        transition-delay: 0.8s;

                        &:hover {
                            cursor: pointer;
                            transition: 0.1s;
                        }
                    }
                }
            }
        }

        .contact__background {
            position: absolute;
            top: 5vh;
            right: -12vw;
            z-index: -1;
            transition: 0.3s;

            &:hover {
                filter: blur(1px);
            }
        }
    }

    @media(min-width: 850px) {
        .services__contact-container {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 5em;
            
            .contact__list {
                width: 60%;

                .contact__list-item {
                    margin: 2rem 0;
                    position: relative;

                    .contact__name {
                        padding: 1rem;
                        transition: 0.8s;
                        font-size: 1.7rem;
                    }

                }
            }
        }
    }

    @media(min-width: 850px) {
        .contact__message {
            text-align: left;
            font-size: 4rem;
            margin-left: 15%;
            margin-bottom: 1em;

            .contact__highlight {
                text-decoration-thickness: 5px;
            }

            .contact__globe {
                width: 20%;
                height: 20%;
                border-radius: 50%;
                margin: 0;
            }
        }
    }

    .contact__globe {
        z-index: 2;
        width: 70%;
        margin-left: 10%;
        margin: 2em 0;
        position: absolute;
        left: 15%;
        padding-bottom: 4em;
    }

    @media(min-width: 850px) {
        .contact__globe {
            display: none;
        }

    }
}

@media (min-width: 850px) {
    .services--container {
        margin-top: 6.5rem;
        width: 100%;
    } 
}