.services--container {
    width: 100%;
    margin: 0 auto;
    margin-top: 6em;

    .services--header-container {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .services--header-title {
            font-weight: 400;
            font-size: 1.2rem;
            width: 50%;
        }

        .services--contact-title {
            text-align: right;
        }

        @media (min-width: 850px) {
            .services--header-title {
                font-size: 2.3rem;
                margin-right: 2rem;
                width: auto;
                margin-left: 10%;
            } 
            
            .services--contact-title {
                margin-left: 2rem;
                margin-right: 10%;
            }
        }
    }

    .services--contact-header {
        margin-top: 10em;
    }

    @media(min-width: 850px) {
        .services--header-container {
            width: 100%;
        }
        
    }

    @media(min-width: 850px) {
        .services--contact-header{
            justify-content: flex-end;
        }
    }

  
    .services--content-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 5vh;

        .services--content {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 5vh;

            .services--asset-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: fit-content;

                .services--asset {
                    width: 20vw;
                    height: 20vw;
                    background-color: black;
                }

                .services--asset-title {
                    font-size: 1rem;
                    margin-top: 0.5rem;
                }
            }

            .services--content-text {
                width: 100%;
                font-size: 1rem;
                text-align: center;
                font-family: $second-font;
                margin-top: 1rem;
            }
        }
    }

    @media (min-width: 850px) {
        .services--content-container {
            width: 70%;
            margin-top: 10vh;

            .services--content {
                flex-direction: row;
                margin-bottom: 10vh;
                min-height: 30vh;

                .services--asset-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .services--asset {
                        width: 12vw;
                        height: 12vw;
                        background: white;
                    }
    
                    .services--asset-title {
                        font-size: 1rem;
                    }
                }

                .services--asset-container-2 {
                    position: absolute;
                    right: 15%;
                    z-index: -1;
                }

                .services--content-text {
                    width: 50%;
                    margin: 0 auto;
                    text-align: left;
                    font-size: 1.1rem;
                }

                .services-content-text-2 {
                    float: left;
                }
            }            
        }   
    }

    //Form, Section

    .services__form-container {
        width: 100%;

        .services__form-button {
            width: fit-content;
            border: 1px solid black;
            border-top: 2px solid black;
            padding: 0.5rem 3rem;
            font-size: 2rem;
            background-color: white;
            display: block;
            margin: auto;
        }
    }

    //Contact Section

    .services__contact-container {
        margin: 0 auto;
        margin-bottom: 4em;
        position: relative;
        width: 80%;
        

        .contact__list {
            margin-top: 4em;
            width: 80%;
            margin-left: 5%;

            .contact__list-item {
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .contact__name {
                    font-size: 1rem;
                    padding: 2rem 0;
                    margin-right: 2rem;
                } 

                .contact__links {
                    display: flex;
                    align-items: center;
                    transition: 0.4s;
                    position: relative;
                }

                .contact__link {
                    svg {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .contact__image {
                        height: 2rem;
                        margin-left: 2rem;
    
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .contact__background {
            position: absolute;
            top: 5vh;
            right: -12vw;
            z-index: -1;
        }
    }

    @media(min-width: 850px) {
        .services__contact-container {
            display: flex;
            align-items: center;
            
            .contact__list {
                width: 60%;

                .contact__list-item {
                    margin: 2rem 0;
                    position: relative;

                    .contact__name {
                        padding: 1rem;
                        transition: 0.8s;
                        font-size: 1.7rem;
                    }

                }
            }

           
        }
    }

    .contact__message {
        font-size: 2.2rem;
        text-align: center;
        font-weight: 500;

        .contact__highlight {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.3em;

            &:hover {
                cursor: pointer;
            }
        }

        .contact__globe {
            width: 50%;
            height: 50%;
            border-radius: 50%;
            margin: 2em auto;
        }
    }

    @media(min-width: 850px) {
        .contact__message {
            text-align: left;
            font-size: 4rem;
            margin-left: 15%;
            margin-bottom: 1.5em;

            .contact__highlight {
                text-decoration-thickness: 5px;
            }

            .contact__globe {
                width: 20%;
                height: 20%;
                border-radius: 50%;
                margin: 0;
            }
        }
    }
}

@media (min-width: 850px) {
    .services--container {
        margin-top: 7em;
    } 
}