.form__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.services__form-title {
    position: absolute;
    font-size: 20rem;
    color: transparent;
    -webkit-text-stroke: 1px $main-color;
    opacity: 0.175;
    z-index: 0;
    text-align: center;
    display: inline;

    @media(max-width: 805px) {
        overflow-wrap: break-word;
    }
}

.form-button__wrap {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: white;

    .form-button {
        position: absolute;
        width: fit-content;
        border: none;
        width: 340px;
        height: 75px;
        font-size: calc($home-body-fs - 4px);
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
        cursor: pointer;
        z-index: 1;
    }

    .form-button__stroke {
        stroke-dasharray: 820;
    }
}

.horizontal-line {
    height: 2px;
    background-color: #313131;
}

.contact-form {
    display: none;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    position: absolute;
    top: 8rem;
    z-index: 2;
    
    input, textarea {
        border: none;
        user-select: none;
        outline: none;
        padding: 20px 0;
        margin: 3px 0;
        background-color: transparent;
        scrollbar-width: thin;

        //animated 
        opacity: 0;
    }

    .contact-form__details {
        display: grid;
        grid-template-columns: 47% 47%;
        column-gap: 6%;
    }

    .contact-form__message {
        width: 100%;
        padding: 20px 0 2px 0;
        border: none;
        resize: none;
        outline: none;
        height: 6rem;
        margin-top: 1rem;
    }

    .contact__form-submit {
        width: fit-content;
        margin: 2rem auto;
        background: white;
        border: 2px solid $main-color;
        padding: 0.7rem 2rem;
        transition: 0.2s;
        opacity: 0;

        &:hover {
            cursor: pointer;
            background: $main-color;
            color: white;
        }
    }
}

@media(max-width: 850px) {
    .contact-form {
        width: 80%;
    }
}