.global__footer {
    background: $main-color;
    color: white;
    padding: 1.2em 4em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media(max-width: 450px) {
        padding: 1.2em 1em;
        flex-direction: column;
    }

    .footer__info {
        display: flex;
        align-items: center;

        @media(max-width: 450px) {
            padding-bottom: 1em;
        }
        .footer__title {
            display: flex;
            align-items: center;
            margin-right: 1.5rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    .footer__email {

        p {
            font-size: 0.9rem;
        }
        
    }

    .footer__policies {
        display: flex;
        align-items: center;

        ul {
            list-style-type: none;
        }
        
        .footer__policy-link {
            display: inline-block;
            margin-left: 1em;
            border-bottom: 2px solid $main-color;
            width: fit-content;
            font-size: 0.9rem;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: '';
                display: block;
                width: 0%;
                height: 2px;
                background: white;
                transition: 0.3s;
                margin-top: 3px;
            }

            &:hover::after {
                width: 100%;
            }
            
        }
    }

    
}