.nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1.3rem;
    position: fixed;
    top: 0;

    .nav__logo {
        width: 80px;
        height: 42px;
        margin: 0 10px 0 0;
        &:hover {
            cursor: pointer;
        }
    }
    .nav__line {
        width: 60%;
        height: 1.2px;
        background-color: #292929;
    }
    
    @media (max-width: 500px) {
        .nav__line {
            display: none;
        }
    }

    .nav__links-list {
        list-style-type: none;
        display: flex;
        font-size: $nav-fs;

        li {
            padding: 0.5rem 1rem;
        }
        .nav__link {
            &:hover {
                cursor: pointer;
                color: #535353
            }
        }
    }

    @media (max-width: 850px) {
        .nav {
            display: flex;
            justify-content: space-evenly;
        }
        .nav__logo {
            width: 70px;
        }
        .nav__home {
            display: none;
        }
        .nav__links-list {
            font-size: calc($nav-fs + 3px);  
        }
    }
}