$main-color: #292929;
$light-grey: lighten($main-color, 35%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $light-grey white;
}

html, body {
    scroll-behavior: smooth;
}

body {
    color: $main-color;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $light-grey;
}