@font-face {
    font-family: neue;
    src: url(../../public/fonts/NeueHaasDisplayRoman.ttf);
}

a {
    text-decoration: none;
    color: inherit;
}

$main-font: neue, sans-serif;

body {
    font-family: $main-font;
}

$nav-fs: calc(0.4vw + 1rem);

$home-body-fs: calc(0.5vw + 1.4rem);

$projects-subheading-fs: calc(0.4vw + 0.8rem);

$services-subheading-fs: calc(0.5vw + 0.9rem);
$services-body-fs: calc(0.5vw + 0.7rem);